Zendure HUB1200+ACE1500 openDTUonBatt.json
[
    {
        "id": "1a6cc5590fe09fd1",
        "type": "subflow",
        "name": "Is Night?",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "af2194de909355f9",
        "type": "function",
        "z": "1a6cc5590fe09fd1",
        "name": "Is Night True/False",
        "func": "// Hole die Sonnenzeit-Werte als Strings (hh:mm) aus den globalen Variablen\nlet sunriseTime = global.get('zendure.sunriseTimestamp'); // Format hh:mm\nlet sunsetTime  = global.get('zendure.sunsetTimestamp');  // Format hh:mm\n\n// Absicherung: Prüfe, ob beide Werte korrekt vorhanden sind\nif (!sunriseTime || !sunsetTime || !sunriseTime.includes(':') || !sunsetTime.includes(':')) {\n    node.error(\"Fehler: Sonnenzeitangaben fehlen oder haben ein ungültiges Format.\");\n    return null;\n}\n\n// Aktuelle Zeit\nlet currentTime = new Date();\n\n// Konvertiere die Zeiten in vollständige Date-Objekte\nlet [sunriseHour, sunriseMinute] = sunriseTime.split(':').map(Number);\nlet sunriseDate = new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate(), sunriseHour, sunriseMinute);\n\nlet [sunsetHour, sunsetMinute] = sunsetTime.split(':').map(Number);\nlet sunsetDate = new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate(), sunsetHour, sunsetMinute);\n\n// Logik zur Bestimmung von isNight\nif (currentTime >= sunsetDate || currentTime < sunriseDate) {\n    global.set('isNight', true);  // Schreibe das globale Flag\n    node.status({ fill: \"blue\", shape: \"dot\", text: \"Night: true\" });\n} else {\n    global.set('isNight', false); // Schreibe das globale Flag\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Night: false\" });\n}\n\n// Keine Ausgabe erforderlich, die Node ist rein funktional\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1762162c9559dee",
        "type": "cronplus",
        "z": "1a6cc5590fe09fd1",
        "name": "Jede Minute",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Jede 1 Minute",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 * * * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "af2194de909355f9"
            ]
        ]
    },
    {
        "id": "a91e5c96595a8e7c",
        "type": "comment",
        "z": "1a6cc5590fe09fd1",
        "name": "Is Night Flag!! ",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "36a24bbfc53f303a",
        "type": "subflow",
        "name": "Akku leer Flag",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "de5608b18e96c3c0"
                    },
                    {
                        "id": "9e820824b60f54c7"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "de5608b18e96c3c0",
        "type": "switch",
        "z": "36a24bbfc53f303a",
        "g": "1c0230a51f8b7f49",
        "name": "Ist Akku leer? Flag True!! ",
        "property": "zendure.minVol",
        "propertyType": "global",
        "rules": [
            {
                "t": "lte",
                "v": "zendure.config.low_minVol",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "cd7fb9d43dc3d879"
            ]
        ]
    },
    {
        "id": "cd7fb9d43dc3d879",
        "type": "change",
        "z": "36a24bbfc53f303a",
        "g": "1c0230a51f8b7f49",
        "name": "Akku leer Flag auf True!! ",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.BATTERY_EMPTY_flag",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5e19474c97dd3476",
        "type": "change",
        "z": "36a24bbfc53f303a",
        "g": "1c0230a51f8b7f49",
        "name": "Akku wieder bei 40% Flag auf False!!",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.BATTERY_EMPTY_flag",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9e820824b60f54c7",
        "type": "switch",
        "z": "36a24bbfc53f303a",
        "g": "1c0230a51f8b7f49",
        "name": "SOC min 40%? Flag False!!",
        "property": "zendure.SOC",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "5e19474c97dd3476"
            ]
        ]
    },
    {
        "id": "4e48ddfc1a5edf1c",
        "type": "comment",
        "z": "36a24bbfc53f303a",
        "g": "1c0230a51f8b7f49",
        "name": "Akku leer Flag! ",
        "info": "",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c0230a51f8b7f49",
        "type": "group",
        "z": "36a24bbfc53f303a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "de5608b18e96c3c0",
            "cd7fb9d43dc3d879",
            "5e19474c97dd3476",
            "9e820824b60f54c7",
            "4e48ddfc1a5edf1c"
        ],
        "x": 134,
        "y": 79,
        "w": 652,
        "h": 162
    },
    {
        "id": "018119470926c284",
        "type": "subflow",
        "name": "Entladelogik",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "5eaeb6b1d2a3e0e6"
                    },
                    {
                        "id": "2ab0933e34d11fa7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 140,
                "wires": [
                    {
                        "id": "4b2f57d673a23d1f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 900,
                "y": 180,
                "wires": [
                    {
                        "id": "30ea0356443b5744",
                        "port": 0
                    }
                ]
            },
            {
                "x": 900,
                "y": 220,
                "wires": [
                    {
                        "id": "bda88acc2feda9ca",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5eaeb6b1d2a3e0e6",
        "type": "switch",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "Ist Nacht?",
        "property": "isNight",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "4b2f57d673a23d1f"
            ],
            [
                "7b2e3474255790ae"
            ]
        ]
    },
    {
        "id": "7b2e3474255790ae",
        "type": "switch",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "minVoll Akkuschutz",
        "property": "zendure.control.BATTERY_EMPTY_flag",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "4b2f57d673a23d1f"
            ],
            [
                "30ea0356443b5744",
                "bda88acc2feda9ca"
            ]
        ]
    },
    {
        "id": "bda88acc2feda9ca",
        "type": "change",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "AC Mode 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4b2f57d673a23d1f",
        "type": "change",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "Entladung 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fea2c6c1caed1795",
        "type": "comment",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "Entladelogik",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ab0933e34d11fa7",
        "type": "switch",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "Full during Day? ",
        "property": "zendure.control.BATTERYFULLONDAY",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "7b2e3474255790ae"
            ]
        ]
    },
    {
        "id": "30ea0356443b5744",
        "type": "change",
        "z": "018119470926c284",
        "g": "c2fe0461c3bec6af",
        "name": "Entladung 850",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "850",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c2fe0461c3bec6af",
        "type": "group",
        "z": "018119470926c284",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5eaeb6b1d2a3e0e6",
            "7b2e3474255790ae",
            "bda88acc2feda9ca",
            "4b2f57d673a23d1f",
            "fea2c6c1caed1795",
            "2ab0933e34d11fa7",
            "30ea0356443b5744"
        ],
        "x": 154,
        "y": 59,
        "w": 632,
        "h": 202
    },
    {
        "id": "3e0ce0fb67a10cbe",
        "type": "subflow",
        "name": "Ladelogik",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 440,
                "y": 260,
                "wires": [
                    {
                        "id": "f83b93bd29408cd9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 240,
                "wires": [
                    {
                        "id": "bb1b6e8465ad8f3d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 280,
                "wires": [
                    {
                        "id": "32dabfb25c454f59",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 320,
                "wires": [
                    {
                        "id": "d817146cfcab42b0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f83b93bd29408cd9",
        "type": "switch",
        "z": "3e0ce0fb67a10cbe",
        "g": "f033a9ec014a6d03",
        "name": "Ist Tag?",
        "property": "isNight",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "63a15e4c36cc13f8"
            ],
            [
                "bb1b6e8465ad8f3d"
            ]
        ]
    },
    {
        "id": "32dabfb25c454f59",
        "type": "function",
        "z": "3e0ce0fb67a10cbe",
        "g": "f033a9ec014a6d03",
        "name": "Berechnung laden neu",
        "func": "// Globale Konfigwerte\nlet START_AC_LEISTUNG = parseFloat(global.get('zendure.config.START_AC_LEISTUNG')) || 100;\nlet MAX_AC_LEISTUNG   = parseFloat(global.get('zendure.config.MAX_AC_LEISTUNG'))   || 900;\nlet SKALIERUNG        = parseFloat(global.get('zendure.config.SKALIERUNG'))        || 1;\n// Ziel: leichte Einspeisung (negativer Netzbezug), z. B. -100 W\nlet ZIEL_NETZLEISTUNG = parseFloat(global.get('zendure.config.ZIEL_NEGATIVE_LEISTUNG')) || 0;\n\n// Eingangswert: Netzbezug geglättet (+ = Bezug, – = Einspeisung)\nlet currentpower = parseFloat(global.get('zendure.Netzbezug_gelättet'));\n\n// Sicherheitscheck\nif (!Number.isFinite(currentpower)) {\n    msg.payload = 0;\n    return msg;\n}\nif (!Number.isFinite(SKALIERUNG) || SKALIERUNG === 0) {\n    SKALIERUNG = 1; // Divide-by-zero-Schutz\n}\n\n// Letzte Leistung merken\nlet alteLeistung = context.get('currentACLeistung');\nif (!Number.isFinite(alteLeistung)) {\n    alteLeistung = START_AC_LEISTUNG;\n}\n\n// Regelfehler (Abweichung vom Zielwert)\nlet fehler = currentpower - ZIEL_NETZLEISTUNG;\nlet delta  = fehler / SKALIERUNG;\n\n// Neue Leistung berechnen\nlet neueLeistung = alteLeistung - delta;\n\n// Begrenzen & Runden (100 W Schritte)\nneueLeistung = Math.max(0, Math.min(neueLeistung, MAX_AC_LEISTUNG));\nneueLeistung = Math.round(neueLeistung / 100) * 100;\n\n// Ergebnis speichern\ncontext.set('currentACLeistung', neueLeistung);\nmsg.payload = neueLeistung;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d817146cfcab42b0",
        "type": "change",
        "z": "3e0ce0fb67a10cbe",
        "g": "f033a9ec014a6d03",
        "name": "AC Mode 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bb1b6e8465ad8f3d",
        "type": "change",
        "z": "3e0ce0fb67a10cbe",
        "g": "f033a9ec014a6d03",
        "name": "Ladeleistung 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bacf336852cfc59f",
        "type": "comment",
        "z": "3e0ce0fb67a10cbe",
        "g": "f033a9ec014a6d03",
        "name": "Ladelogik",
        "info": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "63a15e4c36cc13f8",
        "type": "switch",
        "z": "3e0ce0fb67a10cbe",
        "g": "f033a9ec014a6d03",
        "name": "Full during Day? ",
        "property": "zendure.control.BATTERYFULLONDAY",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "bb1b6e8465ad8f3d"
            ],
            [
                "32dabfb25c454f59",
                "d817146cfcab42b0"
            ]
        ]
    },
    {
        "id": "f033a9ec014a6d03",
        "type": "group",
        "z": "3e0ce0fb67a10cbe",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f83b93bd29408cd9",
            "32dabfb25c454f59",
            "d817146cfcab42b0",
            "bb1b6e8465ad8f3d",
            "bacf336852cfc59f",
            "63a15e4c36cc13f8"
        ],
        "x": 494,
        "y": 159,
        "w": 632,
        "h": 202
    },
    {
        "id": "0dd9ca4658880b98",
        "type": "subflow",
        "name": "Battery Full during Day",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "9f8d0e4a779ac79e",
        "type": "ioBroker in",
        "z": "0dd9ca4658880b98",
        "name": "SOC",
        "attrname": "payload",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.electricLevel",
        "payloadType": "value",
        "onlyack": "",
        "func": "all",
        "gap": "",
        "fireOnStart": "false",
        "outFormat": "ioBroker",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "64fb603ed5a0849e"
            ]
        ]
    },
    {
        "id": "b2882eb9ac984f98",
        "type": "switch",
        "z": "0dd9ca4658880b98",
        "name": "Ist SOC 100%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 60,
        "wires": [
            [
                "259919656625319e"
            ],
            [
                "104d1abeee2d1e47"
            ]
        ]
    },
    {
        "id": "64fb603ed5a0849e",
        "type": "switch",
        "z": "0dd9ca4658880b98",
        "name": "Ist Tag?",
        "property": "isNight",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "b2882eb9ac984f98"
            ],
            [
                "e864de887de0fa61"
            ]
        ]
    },
    {
        "id": "259919656625319e",
        "type": "change",
        "z": "0dd9ca4658880b98",
        "name": "Flag SOC 100% am Tag - True!!",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.BATTERYFULLONDAY",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e864de887de0fa61",
        "type": "change",
        "z": "0dd9ca4658880b98",
        "name": "Flag zurück auf false bei Nacht",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.BATTERYFULLONDAY",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "104d1abeee2d1e47",
        "type": "change",
        "z": "0dd9ca4658880b98",
        "name": "Flag SOC 100% am Tag - False!!",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.BATTERYFULLONDAY",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "229f8f76918d802b",
        "type": "subflow",
        "name": "Zendure Notmodus",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 720,
                "y": 260,
                "wires": [
                    {
                        "id": "3c060abf9544dddf",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 320,
                "wires": [
                    {
                        "id": "3686715d9e47911f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1340,
                "y": 200,
                "wires": [
                    {
                        "id": "4cd7d43c3ef45182",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1340,
                "y": 280,
                "wires": [
                    {
                        "id": "b4b5df20b2e7399a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b05cd6c573fc1b81",
        "type": "switch",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Notmodus",
        "property": "zendure.minVol",
        "propertyType": "global",
        "rules": [
            {
                "t": "lte",
                "v": "zendure.config.minVol_critical",
                "vt": "global"
            },
            {
                "t": "gt",
                "v": "zendure.config.minVol_safe",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "09ae171a4ad2149a"
            ],
            [
                "bd14a6158ccf9693"
            ]
        ]
    },
    {
        "id": "09ae171a4ad2149a",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Flag Notladen true",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.notladen_flag",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "e4d9c933a9c819af",
                "6a94785e44c705c4"
            ]
        ]
    },
    {
        "id": "b2850c25fed10dd9",
        "type": "cronplus",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Alle 1 Minute",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Jede Minute",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 * * * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "b05cd6c573fc1b81",
                "615f1ef982792103"
            ]
        ]
    },
    {
        "id": "bd14a6158ccf9693",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Flag Notladen false",
        "rules": [
            {
                "t": "set",
                "p": "zendure.control.notladen_flag",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "4ccc932314d073be",
                "9be7cfd9385c1f2b"
            ]
        ]
    },
    {
        "id": "c5fee863fe9b547a",
        "type": "switch",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Gate auf oder zu",
        "property": "zendure.control.notladen_flag",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "3c060abf9544dddf"
            ],
            [
                "3686715d9e47911f"
            ]
        ]
    },
    {
        "id": "615f1ef982792103",
        "type": "delay",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "c5fee863fe9b547a"
            ]
        ]
    },
    {
        "id": "3686715d9e47911f",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Gate auf",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zendure.control.STOP",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3c060abf9544dddf",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Gate zu",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zendure.control.STOP",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7be99ded4354a5da",
        "type": "comment",
        "z": "229f8f76918d802b",
        "g": "3b1f76e3e4b8bb55",
        "name": "Notmodus Ja oder Nein",
        "info": "",
        "x": 240,
        "y": 140,
        "wires": []
    },
    {
        "id": "e4d9c933a9c819af",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "AC-Mode 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "b4b5df20b2e7399a"
            ]
        ]
    },
    {
        "id": "6a94785e44c705c4",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "Ladeleistung 900W",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "900",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 180,
        "wires": [
            [
                "4cd7d43c3ef45182"
            ]
        ]
    },
    {
        "id": "4ccc932314d073be",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "Ladeleistung 0W",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 220,
        "wires": [
            [
                "4cd7d43c3ef45182"
            ]
        ]
    },
    {
        "id": "9be7cfd9385c1f2b",
        "type": "change",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "AC-Mode 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "b4b5df20b2e7399a"
            ]
        ]
    },
    {
        "id": "b4b5df20b2e7399a",
        "type": "rbe",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "AC Mode 0 oder 1",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4cd7d43c3ef45182",
        "type": "rbe",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "900 oder 0 Watt",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1180,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "163c16f690679473",
        "type": "comment",
        "z": "229f8f76918d802b",
        "g": "045918e25cec8abe",
        "name": "Setzen der Werte Laden und AC Mode",
        "info": "",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "3b1f76e3e4b8bb55",
        "type": "group",
        "z": "229f8f76918d802b",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "b05cd6c573fc1b81",
            "09ae171a4ad2149a",
            "b2850c25fed10dd9",
            "bd14a6158ccf9693",
            "c5fee863fe9b547a",
            "615f1ef982792103",
            "3686715d9e47911f",
            "3c060abf9544dddf",
            "7be99ded4354a5da"
        ],
        "x": 114,
        "y": 99,
        "w": 572,
        "h": 242
    },
    {
        "id": "045918e25cec8abe",
        "type": "group",
        "z": "229f8f76918d802b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e4d9c933a9c819af",
            "6a94785e44c705c4",
            "4ccc932314d073be",
            "9be7cfd9385c1f2b",
            "b4b5df20b2e7399a",
            "4cd7d43c3ef45182",
            "163c16f690679473"
        ],
        "x": 834,
        "y": 99,
        "w": 452,
        "h": 242
    },
    {
        "id": "a11fc357385c8d20",
        "type": "subflow",
        "name": "Zendure Werte holen",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 300,
                "y": 640,
                "wires": [
                    {
                        "id": "cb0fcd974efebbf1"
                    },
                    {
                        "id": "a66522e3d83138ac"
                    },
                    {
                        "id": "8c752b79a46ee569"
                    },
                    {
                        "id": "52d5ab1c3cab921f"
                    },
                    {
                        "id": "38a2be624f06ba3f"
                    },
                    {
                        "id": "af8730c6ef545b8c"
                    },
                    {
                        "id": "bcc5f8600bf04880"
                    },
                    {
                        "id": "ff651a6be5a588b3"
                    },
                    {
                        "id": "920ce546daa02479"
                    },
                    {
                        "id": "96eb74ded68843b8"
                    },
                    {
                        "id": "166fafc471fe6584"
                    },
                    {
                        "id": "a93cec0e0daf9cd7"
                    },
                    {
                        "id": "2d44b696286dbe05"
                    },
                    {
                        "id": "09f8a4f5e7ad793b"
                    },
                    {
                        "id": "ad162e5da96c5f58"
                    },
                    {
                        "id": "af3934044ad6f922"
                    },
                    {
                        "id": "bc4d71b6118f2209"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cb0fcd974efebbf1",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "batteryLevel",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.electricLevel",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "b7156835bbac8d18"
            ]
        ]
    },
    {
        "id": "8c752b79a46ee569",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "sunsetTimestamp",
        "topic": "shuttercontrol.0.info.GoldenHour",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "d86ca0c0d8829c04"
            ]
        ]
    },
    {
        "id": "33980d7cf63cb02d",
        "type": "comment",
        "z": "a11fc357385c8d20",
        "name": "Werte auslesen",
        "info": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "52d5ab1c3cab921f",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "sunriseTimestamp",
        "topic": "0_userdata.0.PV-Daten.GoldenHourEnd+90",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "962f479a7b0599f2"
            ]
        ]
    },
    {
        "id": "38a2be624f06ba3f",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Aktuelle Leistung BKW",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.solarInputPower",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "3595baaf5c65ccb1"
            ]
        ]
    },
    {
        "id": "af8730c6ef545b8c",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Zustand AC Modus",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.control.acMode",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "f1c1175fbc44619b"
            ]
        ]
    },
    {
        "id": "bcc5f8600bf04880",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Aktuelle AC Leistung",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.inputLimit",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "0d88201949632c2d"
            ]
        ]
    },
    {
        "id": "a66522e3d83138ac",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Netzbezug geglättet",
        "topic": "0_userdata.0.PV-Daten.Netzbezug-gegl",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "46aa51cf53ad89f7"
            ]
        ]
    },
    {
        "id": "ff651a6be5a588b3",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "SOC #1",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.BO4NHMFBM270767.socLevel",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "f66f6d6c791828c9"
            ]
        ]
    },
    {
        "id": "920ce546daa02479",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "SOC #2",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.CO4HMCJMD800896.socLevel",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "a84d6c465be292da"
            ]
        ]
    },
    {
        "id": "96eb74ded68843b8",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "SOC #3",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.CO4HMDWMEK01529.socLevel",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 460,
        "y": 700,
        "wires": [
            [
                "e27bc9db633fa7d3"
            ]
        ]
    },
    {
        "id": "b7156835bbac8d18",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"SOC\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 100,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "46aa51cf53ad89f7",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"Netzbezug_gelättet\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "d86ca0c0d8829c04",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"sunsetTimestamp\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 280,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "962f479a7b0599f2",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"sunriseTimestamp\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "03feb985d9689bdb",
        "type": "comment",
        "z": "a11fc357385c8d20",
        "name": "Topic an msg ",
        "info": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "3595baaf5c65ccb1",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"PV_Power\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 400,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "f1c1175fbc44619b",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"switchState_AC\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 460,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "0d88201949632c2d",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"AC_Power\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 520,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "f66f6d6c791828c9",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"SOC_1\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 580,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "a84d6c465be292da",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"SOC_2\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 640,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "e27bc9db633fa7d3",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"SOC_3\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 700,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "1b118b8cc2342210",
        "type": "join",
        "z": "a11fc357385c8d20",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "6",
        "count": "14",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 990,
        "y": 360,
        "wires": [
            [
                "6c111e9cea92b87e"
            ]
        ]
    },
    {
        "id": "26367c7c1abdaca9",
        "type": "comment",
        "z": "a11fc357385c8d20",
        "name": "Zusammenfassen der msg",
        "info": "",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "a93cec0e0daf9cd7",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Zellspannung minVol #1",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.BO4NHMFBM270767.minVol",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 510,
        "y": 820,
        "wires": [
            [
                "e66f8535a51b54c7"
            ]
        ]
    },
    {
        "id": "e66f8535a51b54c7",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"minVol#1\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 820,
        "wires": [
            [
                "7ed66a10631370b2"
            ]
        ]
    },
    {
        "id": "af3934044ad6f922",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Aktuelles Output Limit",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.outputLimit",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 500,
        "y": 1060,
        "wires": [
            [
                "8d704295f0daacf4"
            ]
        ]
    },
    {
        "id": "8d704295f0daacf4",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"OutputLimit\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1060,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "166fafc471fe6584",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "SOC #4",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.CO4FHNAFN091088.socLevel",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "19c53e4e5726edbb"
            ]
        ]
    },
    {
        "id": "19c53e4e5726edbb",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"SOC_4\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 760,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "2d44b696286dbe05",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Zellspannung minVol #2",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.CO4FHNAFN091088.minVol",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 510,
        "y": 880,
        "wires": [
            [
                "a609709d91db64c2"
            ]
        ]
    },
    {
        "id": "a609709d91db64c2",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"minVol#2\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 880,
        "wires": [
            [
                "7ed66a10631370b2"
            ]
        ]
    },
    {
        "id": "09f8a4f5e7ad793b",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Zellspannung minVol #3",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.CO4HMCJMD800896.minVol",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 510,
        "y": 940,
        "wires": [
            [
                "69d98c6b59836abd"
            ]
        ]
    },
    {
        "id": "69d98c6b59836abd",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"minVol#3\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 940,
        "wires": [
            [
                "7ed66a10631370b2"
            ]
        ]
    },
    {
        "id": "ad162e5da96c5f58",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Zellspannung minVol #4",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.packData.CO4HMDWMEK01529.minVol",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "0714255a3ded3a1a"
            ]
        ]
    },
    {
        "id": "0714255a3ded3a1a",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"minVol#4\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1000,
        "wires": [
            [
                "7ed66a10631370b2"
            ]
        ]
    },
    {
        "id": "7ed66a10631370b2",
        "type": "join",
        "z": "a11fc357385c8d20",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 840,
        "wires": [
            [
                "62e5afe5cfbd4c89"
            ]
        ]
    },
    {
        "id": "62e5afe5cfbd4c89",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "minVol berrechnen",
        "func": "// Extrahiere die vier minVol-Werte aus msg.payload\nlet p = msg.payload;\n\nlet minVols = [\n    p[\"minVol#1\"],\n    p[\"minVol#2\"],\n    p[\"minVol#3\"],\n    p[\"minVol#4\"]\n];\n\n// Berechne das Minimum\nlet minValue = Math.min(...minVols.map(Number));\n\n// Gib das Ergebnis zurück\nmsg.topic = \"minVol\";\nmsg.payload = minValue;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 840,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "bc4d71b6118f2209",
        "type": "ioBroker get",
        "z": "a11fc357385c8d20",
        "name": "Netzbezug",
        "topic": "sonoff.0.Stromzaehler.MT691_P",
        "attrname": "payload",
        "payloadType": "value",
        "errOnInvalidState": "nothing",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "34acba10f8cd94d1"
            ]
        ]
    },
    {
        "id": "34acba10f8cd94d1",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Message",
        "func": "msg.topic = \"Netzbezug\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "1b118b8cc2342210"
            ]
        ]
    },
    {
        "id": "6c111e9cea92b87e",
        "type": "function",
        "z": "a11fc357385c8d20",
        "name": "Werte in global Kontext",
        "func": "// Hole alle Schlüssel aus msg.payload\nfor (let key in msg.payload) {\n    if (msg.payload.hasOwnProperty(key)) {\n        // Schreibe jeden Wert in den globalen Kontext mit Prefix \"zendure.\"\n        global.set(\"zendure.\" + key, msg.payload[key]);\n    }\n}\n\n// Optional: Bestätigungsausgabe\nmsg.topic = \"zendure.contextUpdate\";\nmsg.payload = \"Alle Variablen wurden global gespeichert.\";\n\nreturn msg;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9a9ebbb2cc5d793",
        "type": "tab",
        "label": "Zendure Solarflow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7c9f74f14ee5925",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "208905654b3abb92",
            "ebbc9e3ed43cad5e",
            "457cf316a9564b5c",
            "e6bebda843d10ddd",
            "2d90f7135788fd76",
            "b57f83d8548840fe"
        ],
        "x": 114,
        "y": 739,
        "w": 302,
        "h": 202
    },
    {
        "id": "b265d3155c6e797b",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1396e7f0a66298f5",
            "5f04efc617fee11d",
            "ac22c3a15f0e2f7e",
            "ffda41c56ad9e102",
            "ce19a9d77a464f41",
            "eb504a31e8cd1553",
            "4c641c1d8f1355c1",
            "7aaa1e36f00a62ea",
            "0850ef020662156c",
            "4b953a919045accc"
        ],
        "x": 614,
        "y": 199,
        "w": 492,
        "h": 302
    },
    {
        "id": "bbca50b38d2e4366",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2415c1234eb286ad",
            "9d100687894abafe"
        ],
        "x": 474,
        "y": 519,
        "w": 252,
        "h": 142
    },
    {
        "id": "ba4e364f0c1f0541",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cfdbab4862ea8893",
            "18c32d3b2e065e15",
            "f432d14e4dc5dd22"
        ],
        "x": 614,
        "y": 39,
        "w": 432,
        "h": 142
    },
    {
        "id": "85403893f7aaf1b2",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f7c953c02d701c1b",
            "1b26e0e465d1fd67",
            "188b9b4e8981c3a2",
            "4517da5bdf41e5a1",
            "40b0b8e9ff855d60",
            "61632dd82147fa95",
            "e9f5b4425b5db465"
        ],
        "x": 114,
        "y": 39,
        "w": 472,
        "h": 242
    },
    {
        "id": "88d163abbff08ff7",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "557e8189af5e7007",
            "7b4e6e82c33eff58",
            "42633d37c766a79f",
            "c15edfb616545c97",
            "e6d5936f07a10fa8",
            "c1fb8d6cf27ea2dd"
        ],
        "x": 114,
        "y": 299,
        "w": 342,
        "h": 202
    },
    {
        "id": "b075c69001683870",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "886b857c6d685275",
            "6ccbe695c1eea1f0",
            "e40c113946739512",
            "17f1d8ef6bf07edd",
            "046fc5d8ef7b11fd",
            "679e69a9cb0c03d3"
        ],
        "x": 114,
        "y": 519,
        "w": 322,
        "h": 202
    },
    {
        "id": "bbc8e4e93fa431e9",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2ce21b803deebbdb",
            "ab581234fdec20ef",
            "22ea6f1c3f65a00f"
        ],
        "x": 734,
        "y": 519,
        "w": 252,
        "h": 142
    },
    {
        "id": "444896c9d0a34a39",
        "type": "group",
        "z": "d9a9ebbb2cc5d793",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "73d2f3f7ba050580",
            "f4d717d86ddb6b77"
        ],
        "x": 994,
        "y": 519,
        "w": 192,
        "h": 122
    },
    {
        "id": "f7c953c02d701c1b",
        "type": "subflow:a11fc357385c8d20",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b26e0e465d1fd67",
        "type": "cronplus",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "Alle 1 Minuten",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Alle 1 Minuten",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0/1 * * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 240,
        "y": 240,
        "wires": [
            [
                "188b9b4e8981c3a2"
            ]
        ]
    },
    {
        "id": "188b9b4e8981c3a2",
        "type": "gate",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "STOP",
        "controlTopic": "zendure.control.STOP",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "default",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "61632dd82147fa95"
            ]
        ]
    },
    {
        "id": "cfdbab4862ea8893",
        "type": "function",
        "z": "d9a9ebbb2cc5d793",
        "g": "ba4e364f0c1f0541",
        "name": "Inital variablen setzen",
        "func": "global.set(\"zendure.config\", {\n    low_minVol: 3.20,             // Untergrenze für Entladung\n    minVol_critical: 3.00,        // Schwelle Notladen start\n    minVol_safe: 3.40,            // Schwelle zum Deaktivieren Notladung\n    maxSOC: 100,                  // Maximale Ladegrenze\n    minSOC: 20,                   // Minimale Entladegrenze\n\n    START_AC_LEISTUNG: 100,       // Initiale AC-Leistung (Startwert)\n    MAX_AC_LEISTUNG: 900,         // Maximale AC-Leistung\n    SKALIERUNG: 4,                // Skalierungsfaktor für Regelung\n    ZIEL_NEGATIVE_LEISTUNG: -100     // Zielwert für Netzbezug (z. B. 0 W bei Nulleinspeisung)\n});\n\nmsg.payload = \"Zendure-Konfiguration initialisiert\";\nreturn msg;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "208905654b3abb92",
        "type": "subflow:229f8f76918d802b",
        "z": "d9a9ebbb2cc5d793",
        "g": "d7c9f74f14ee5925",
        "name": "Zendure Notmodus",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "ebbc9e3ed43cad5e"
            ],
            [
                "457cf316a9564b5c"
            ],
            [
                "e6bebda843d10ddd"
            ],
            [
                "2d90f7135788fd76"
            ]
        ]
    },
    {
        "id": "ebbc9e3ed43cad5e",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "d7c9f74f14ee5925",
        "name": "Notmodus Gate zu",
        "mode": "link",
        "links": [
            "4517da5bdf41e5a1"
        ],
        "x": 375,
        "y": 780,
        "wires": []
    },
    {
        "id": "457cf316a9564b5c",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "d7c9f74f14ee5925",
        "name": "Notmodus Gate auf",
        "mode": "link",
        "links": [
            "4517da5bdf41e5a1"
        ],
        "x": 375,
        "y": 820,
        "wires": []
    },
    {
        "id": "e6bebda843d10ddd",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "d7c9f74f14ee5925",
        "name": "Notmodusn Ladeleistung",
        "mode": "link",
        "links": [
            "eb504a31e8cd1553"
        ],
        "x": 375,
        "y": 860,
        "wires": []
    },
    {
        "id": "2d90f7135788fd76",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "d7c9f74f14ee5925",
        "name": "Notmodus AC-Mode",
        "mode": "link",
        "links": [
            "4c641c1d8f1355c1"
        ],
        "x": 375,
        "y": 900,
        "wires": []
    },
    {
        "id": "4517da5bdf41e5a1",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "link in 142",
        "links": [
            "457cf316a9564b5c",
            "ebbc9e3ed43cad5e"
        ],
        "x": 355,
        "y": 200,
        "wires": [
            [
                "188b9b4e8981c3a2"
            ]
        ]
    },
    {
        "id": "b57f83d8548840fe",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "d7c9f74f14ee5925",
        "name": "Notlademodus",
        "info": "",
        "x": 210,
        "y": 780,
        "wires": []
    },
    {
        "id": "40b0b8e9ff855d60",
        "type": "cronplus",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "Alle 20 Sekunden",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Alle 20 Sekunden",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "*/20 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "f7c953c02d701c1b"
            ]
        ]
    },
    {
        "id": "1396e7f0a66298f5",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "Übergabe an HUB1200",
        "info": "",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f04efc617fee11d",
        "type": "ioBroker out",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "HUB 1200 Ausgangsleistung",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.control.setOutputLimit",
        "ack": "false",
        "autoCreate": "false",
        "stateName": "",
        "role": "",
        "payloadType": "",
        "readonly": "",
        "stateUnit": "",
        "stateMin": "",
        "stateMax": "",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "ac22c3a15f0e2f7e",
        "type": "ioBroker out",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "ACE1500 Ladeleistung",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.control.setInputLimit",
        "ack": "false",
        "autoCreate": "false",
        "stateName": "",
        "role": "",
        "payloadType": "",
        "readonly": "",
        "stateUnit": "",
        "stateMin": "",
        "stateMax": "",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "ffda41c56ad9e102",
        "type": "ioBroker out",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "AC Modus wechseln",
        "topic": "zendure-solarflow.0.73bkTV.7JFECFHQ.control.acMode",
        "ack": "false",
        "autoCreate": "false",
        "stateName": "",
        "role": "",
        "payloadType": "",
        "readonly": "",
        "stateUnit": "",
        "stateMin": "",
        "stateMax": "",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "ce19a9d77a464f41",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "Eingang Ausgangsleistung",
        "links": [
            "6ccbe695c1eea1f0",
            "e40c113946739512"
        ],
        "x": 665,
        "y": 340,
        "wires": [
            [
                "7aaa1e36f00a62ea"
            ]
        ]
    },
    {
        "id": "eb504a31e8cd1553",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "Eingang Ladeleistung",
        "links": [
            "e6bebda843d10ddd",
            "7b4e6e82c33eff58",
            "42633d37c766a79f"
        ],
        "x": 665,
        "y": 400,
        "wires": [
            [
                "0850ef020662156c"
            ]
        ]
    },
    {
        "id": "4c641c1d8f1355c1",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "Eingang AC Mode",
        "links": [
            "2d90f7135788fd76",
            "c15edfb616545c97",
            "17f1d8ef6bf07edd"
        ],
        "x": 665,
        "y": 460,
        "wires": [
            [
                "4b953a919045accc"
            ]
        ]
    },
    {
        "id": "2415c1234eb286ad",
        "type": "subflow:0dd9ca4658880b98",
        "z": "d9a9ebbb2cc5d793",
        "g": "bbca50b38d2e4366",
        "name": "Battery Full during Day",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "9d100687894abafe",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "bbca50b38d2e4366",
        "name": "Flag Akku voll am Tag",
        "info": "",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "61632dd82147fa95",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "Trigger Ausgang ",
        "mode": "link",
        "links": [
            "557e8189af5e7007",
            "886b857c6d685275",
            "22ea6f1c3f65a00f"
        ],
        "x": 525,
        "y": 240,
        "wires": []
    },
    {
        "id": "557e8189af5e7007",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "88d163abbff08ff7",
        "name": "Laden Eingang",
        "links": [
            "61632dd82147fa95"
        ],
        "x": 155,
        "y": 420,
        "wires": [
            [
                "e6d5936f07a10fa8"
            ]
        ]
    },
    {
        "id": "7b4e6e82c33eff58",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "88d163abbff08ff7",
        "name": "Ladelogik 0W bei 100%",
        "mode": "link",
        "links": [
            "eb504a31e8cd1553"
        ],
        "x": 415,
        "y": 380,
        "wires": []
    },
    {
        "id": "42633d37c766a79f",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "88d163abbff08ff7",
        "name": "Ladeleistung dynamisch",
        "mode": "link",
        "links": [
            "eb504a31e8cd1553"
        ],
        "x": 415,
        "y": 420,
        "wires": []
    },
    {
        "id": "c15edfb616545c97",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "88d163abbff08ff7",
        "name": "Ladelogik AC Mode 1",
        "mode": "link",
        "links": [
            "4c641c1d8f1355c1"
        ],
        "x": 415,
        "y": 460,
        "wires": []
    },
    {
        "id": "18c32d3b2e065e15",
        "type": "inject",
        "z": "d9a9ebbb2cc5d793",
        "g": "ba4e364f0c1f0541",
        "name": "Einmalig",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "cfdbab4862ea8893"
            ]
        ]
    },
    {
        "id": "f432d14e4dc5dd22",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "ba4e364f0c1f0541",
        "name": "Konfigwerte initialisieren bei Systemneustart",
        "info": "",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "e9f5b4425b5db465",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "85403893f7aaf1b2",
        "name": "Werte holen in global und Trigger",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "e6d5936f07a10fa8",
        "type": "subflow:3e0ce0fb67a10cbe",
        "z": "d9a9ebbb2cc5d793",
        "g": "88d163abbff08ff7",
        "name": "Ladelogik",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "7b4e6e82c33eff58"
            ],
            [
                "42633d37c766a79f"
            ],
            [
                "c15edfb616545c97"
            ]
        ]
    },
    {
        "id": "c1fb8d6cf27ea2dd",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "88d163abbff08ff7",
        "name": "Ladelogik",
        "info": "",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "886b857c6d685275",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "b075c69001683870",
        "name": "Eingang Entladelogik",
        "links": [
            "61632dd82147fa95"
        ],
        "x": 155,
        "y": 640,
        "wires": [
            [
                "046fc5d8ef7b11fd"
            ]
        ]
    },
    {
        "id": "6ccbe695c1eea1f0",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "b075c69001683870",
        "name": "Entladelogik 0 Watt",
        "mode": "link",
        "links": [
            "ce19a9d77a464f41"
        ],
        "x": 395,
        "y": 600,
        "wires": []
    },
    {
        "id": "e40c113946739512",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "b075c69001683870",
        "name": "Entladelogik 850W",
        "mode": "link",
        "links": [
            "ce19a9d77a464f41"
        ],
        "x": 395,
        "y": 640,
        "wires": []
    },
    {
        "id": "17f1d8ef6bf07edd",
        "type": "link out",
        "z": "d9a9ebbb2cc5d793",
        "g": "b075c69001683870",
        "name": "Entladelogik AC-Mode 2",
        "mode": "link",
        "links": [
            "4c641c1d8f1355c1"
        ],
        "x": 395,
        "y": 680,
        "wires": []
    },
    {
        "id": "046fc5d8ef7b11fd",
        "type": "subflow:018119470926c284",
        "z": "d9a9ebbb2cc5d793",
        "g": "b075c69001683870",
        "name": "Entladelogik",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "6ccbe695c1eea1f0"
            ],
            [
                "e40c113946739512"
            ],
            [
                "17f1d8ef6bf07edd"
            ]
        ]
    },
    {
        "id": "679e69a9cb0c03d3",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "b075c69001683870",
        "name": "Entladelogik",
        "info": "",
        "x": 270,
        "y": 560,
        "wires": []
    },
    {
        "id": "2ce21b803deebbdb",
        "type": "subflow:36a24bbfc53f303a",
        "z": "d9a9ebbb2cc5d793",
        "g": "bbc8e4e93fa431e9",
        "name": "Akku leer Flag",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "ab581234fdec20ef",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "bbc8e4e93fa431e9",
        "name": "Akku leer Flag!",
        "info": "",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "22ea6f1c3f65a00f",
        "type": "link in",
        "z": "d9a9ebbb2cc5d793",
        "g": "bbc8e4e93fa431e9",
        "name": "Akku leer Flag Eingang",
        "links": [
            "61632dd82147fa95"
        ],
        "x": 775,
        "y": 620,
        "wires": [
            [
                "2ce21b803deebbdb"
            ]
        ]
    },
    {
        "id": "7aaa1e36f00a62ea",
        "type": "rbe",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "5f04efc617fee11d"
            ]
        ]
    },
    {
        "id": "0850ef020662156c",
        "type": "rbe",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "ac22c3a15f0e2f7e"
            ]
        ]
    },
    {
        "id": "4b953a919045accc",
        "type": "rbe",
        "z": "d9a9ebbb2cc5d793",
        "g": "b265d3155c6e797b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 460,
        "wires": [
            [
                "ffda41c56ad9e102"
            ]
        ]
    },
    {
        "id": "73d2f3f7ba050580",
        "type": "subflow:1a6cc5590fe09fd1",
        "z": "d9a9ebbb2cc5d793",
        "g": "444896c9d0a34a39",
        "name": "Is Night?",
        "x": 1080,
        "y": 600,
        "wires": []
    },
    {
        "id": "f4d717d86ddb6b77",
        "type": "comment",
        "z": "d9a9ebbb2cc5d793",
        "g": "444896c9d0a34a39",
        "name": "Is Night Flag! ",
        "info": "",
        "x": 1090,
        "y": 560,
        "wires": []
    }
]